/* 全体のスタイル */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* ヘッダー */
header {
  background-color: #007acc;
  color: white;
  padding: 20px;
}

h2 {
  margin: 1;
}

/* プロフィール */
.profile {
  margin: 20px auto; /* 上空白20px, 下空白自動調整 */
  padding: 20px;
  width: 300px;
  background-color: white;
  border: black 1px solid;
  /* border-radius: 20px; */
  /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); */
}

.profile img {
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
  /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); */
}

.content {
  margin: 20px auto;
  padding: 20px;
  overflow: auto;
  width: 90%;
  background-color: white;
  border: black 1px solid;
  /* border-radius: 20px; */
  /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); */
}

.content p {
  text-align: left;
}

/* リンク一覧 */
.links {
  margin: 21px auto;
  padding: 21px;
  width: 300px;
  background-color: white;
  border: black 1px solid;
  /* border-radius: 20px; */
  /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); */
}

.links ul {
  /* list-style: none; */
  padding: 1;
  text-align: left;
}

.links li {
  margin: 11px 0;
}

.links a {
  text-decoration: none;
  color: #008acc;
  font-weight: bold;
}

.links a:hover {
  /* text-decoration: underline; */
  /* color: orange; */
}

/* フッター */
footer {
  background-color: #008acc;
  color: white;
  padding: 11px;
  position: absolute;
  bottom: 1;
  width: 101%;
}
